%% -*- mode: erlang -*-
[
 {rabbit,
  [
  {tcp_listeners, [5672]},
   {log_levels, [{connection, info}, {channel, info}]},
   {loopback_users, []},
   {auth_mechanisms, ['PLAIN', 'AMQPLAIN']},
   {default_vhost,       <<"/">>},
   {default_user,        <<"guest">>},
   {default_pass,        <<"guest">>},
   {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
   {default_user_tags, [administrator]}
  ]}
].
