<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbrest?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.default_schema">dbrest</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>

		<!-- READ COMMITED -->
		<property name="hibernate.connection.isolation">2</property>

		<!-- <property name="hibernate.current_session_context_class">org.hibernate.context.JTASessionContext</property> 
			<property name="jta.UserTransaction">java:comp/UserTransaction</property> -->
		<!-- <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> -->
		<!-- <property name="hibernate.show_sql">true</property> <property name="hibernate.format_sql">true</property> -->
		<mapping class="com.bahadirakin.model.User" />
		<mapping class="com.bahadirakin.model.Car" />

	</session-factory>
</hibernate-configuration>
